---
import { brighter } from '~/composables/utils'

export interface Props {
  /**
   * Represent the specific style configuration for Component
   * Configurations can be mixed, but because of that they can override each other
   */
  styles?: CSSModuleClasses[]

  // icon?: TODO
}

const { styles } = Astro.props as Props

// TODO: for Moziila UI use global config
const fillColor = '#130b46'
const textColor = '#ffffff'
const hoverColor = brighter(fillColor, 15)
---

<button type="button" class:list={[ styles?.map(style => style.button) ]}>
  <p class:list={[ styles?.map(style => style.p) ]}>
    <slot>
      button
    </slot>
  </p>
</button>

<style define:vars={{ fillColor, hoverColor, textColor }}>
button {
  color: var(--textColor);
  background-color: var(--fillColor);
  border: 1px transparent solid;

  font-family: Inter;
  font-size: 0.875em;
  line-height: 1.75em;
  letter-spacing: -0.02em;
  font-weight: 500;

  padding: 0.5em 1.5em;
  border-radius: 8px;

  transition: background-color .15s ease;
}
button:hover {
  background-color: var(--hoverColor);
  cursor: pointer;
}

p {
  text-transform: capitalize;
  margin: 0;
}

</style>
