---
export interface Props {
  styles: CSSModuleClasses
  // icon?: TODO
}

const { styles } = Astro.props as Props
---

<!-- <button type="button" set:html={ template(slot.value) } /> -->
<button type="button" class:list={[ styles.button ]}>
  <p class:list={[ styles.p ]}>
    <slot>
      button
    </slot>
  </p>
</button>

<style>
button {
  color: #fff;
  background-color: #000;
  border: 1px transparent solid;

  font-family: Inter;
  font-size: 0.875em;
  line-height: 1.75em;
  letter-spacing: -0.02em;
  font-weight: 500;

  padding: 0.5em 1.5em;
  border-radius: 8px;
}
/* button:hover {
  background-color: var(--hoverBackgroundColor);
  color: var(--hoverTextColor);
} */

</style>
