---
import { brighter } from '~/composables/utils'

export interface Props {
  styles: CSSModuleClasses
  // icon?: TODO
}

const { styles } = Astro.props as Props

const fillColor = '#130b46'
const hoverColor = brighter(fillColor, 15)
---

<button type="button" class:list={[ styles.button ]}>
  <p class:list={[ styles.p ]}>
    <slot>
      button
    </slot>
  </p>
</button>

<style lang="scss" define:vars={{ fillColor, hoverColor }}>
button {
  color: #ffffff;
  background-color: var(--fillColor);
  border: 1px transparent solid;

  font-family: Inter;
  font-size: 0.875em;
  line-height: 1.75em;
  letter-spacing: -0.02em;
  font-weight: 500;

  padding: 0.5em 1.5em;
  border-radius: 8px;

  transition: background-color .15s ease;
}
button:hover {
  // TODO: it wont work with variables, so better calculate color tints in TypeScript
  background-color: var(--hoverColor);
  cursor: pointer;
}

p {
  text-transform: capitalize;
  margin: 0;
}

</style>
